@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
.Wrapper {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}
.Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
}
.Header {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.brand {
  flex: 0.83;
  padding: 70px 110px;
  color: #f7d832;
}
.test {
  flex: 0.17;
  cursor: pointer;
  height: 40px;
  margin-right: 9vw;
  border-style: none;
  background: #f7d832;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.App-body {
  display: flex;
  flex-direction: row;
}
.login {
  height: 425px;
  width: 540px;
  margin-left: 110px;
  border-radius: 0px;
}

form {
  padding: 20px 0px;
}
.input {
  padding: 10px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border-style: none;
  width: 400px;
  height: 30px;
  background: #f0f0f0;
}
input:focus {
  outline: none;
}
.submit {
  height: 40px;
  width: 420px;
  padding: 10px;
  border-style: none;
  cursor: pointer;
  background-color: #f7d832;
  border-radius: 5px;
  margin-top: 10px;
}
a:active,
a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
p > a:hover {
  text-decoration: underline;
}
.illustration {
  margin-right: 9vw;
  text-align: right;
  width: 100%;
}
.illustration > h2 {
  line-height: 44px;
}
.illustration > p {
  line-height: 22px;
  margin-left: 30vw;
  font-size: 14px;
  font-weight: 500;
}

.illustration > .svg {
  height: 250px;
  width: auto;
}
.footer {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 110px;
  display: flex;
  position: relative;
}
.footer > a {
  margin-right: 30px;
  font-weight: 200;
  font-size: 14px;
}

@media screen and (max-width: 1340px) {
  .App-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    width: 100vw;
  }
  .login {
    width: 70vw;
    margin: 10px;
    z-index: 1;
  }
  .input {
    width: 60vw;
  }
  .submit {
    width: 64vw;
  }
  .test {
    max-width: 200px;
    flex: 0.4;
    margin: 0px;
    font-size: 13px;
    padding: 10px;
  }
  .brand {
    flex: 0.8;
    padding: 0px;
  }
  .Header {
    padding: 30px;
    justify-content: space-between;
  }

  .illustration {
    text-align: center;
    background-color: #ffe999;
    margin: 0px;
    right: 0;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
  }
  .illustration > p {
    margin: 0px 30px;
  }
}
